# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Docker files
.dockerignore

# IDE specific files
.idea/
.vscode/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/


#vagrant file
.vagrant